composer.phar
composer.lock
/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/SymfonyRequirements.php
/app/config/format*
/app/check.php
/bin/
/vendor/
/web/bundles/
/web/media/
/web/.ht*
/web/css/*
/web/js/*
/tmp*
/.idea/*
