.form-group {
    float: left;
    margin-left: 15px;
}

.form-group:first-child {
    width: 30rem;
}

.alert {
    margin-top: 30px;
}

.th-article {
    width: 50%
}

.th-image,
.th-price {
    width: 25%;
}

.img-articles {
    max-height: 80px;
}