.form-group {
    float: left;
    margin-left: 15px;
}

.form-group:first-child {
    width: 18rem;
}
.form-group:nth-child(2) {
    width: 30rem;
}

.alert {
    margin-top: 30px;
}

.th-site{
    max-width: 10%;
}
.th-site img {
    max-width: 100px;
    max-height: 30px;
}

.th-article-fr,
.th-article-de {
    width: 35%
}

.th-price {
    width: 10%;
}

.th-image{
    width: 10%;
}

.img-articles {
    max-width: 110px;
}

.icon-green{
    color: limegreen;
}
.icon-red {
    color: red;
}