{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav>
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#">Photo</a></li>
                    <li role="presentation"><a href="#">TV</a></li>
                    <li role="presentation"><a href="#">DVD</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <p>EAN Code : 5025232804917</p>
        </div>

        <div class="row">
            <!-- site 1 -->
            <table class="table table-custom">
                <thead>
                    <tr>
                        <th>Mediamarkt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-article">
                            <img class="img-articles table-article-content" src="https://az57933.vo.msecnd.net/productimages/main/5025232804924_1484715_MMLM.png">
                            <div class="table-article-content"><b>Panasonic LUMIX DMC-LX100, 12.8MP, Argent</b></div>
                            <div class="table-article-content">CHF 639.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-article bg-danger">
                            <img class="img-articles table-article-content" src="https://az57933.vo.msecnd.net/productimages/main/5025232804917_1484713_LRTL.png">
                            <div class="table-article-content"><b>Panasonic LUMIX DMC-LX100, 12.8MP, Noir</b></div>
                            <div class="table-article-content">CHF 629.00</div>
                        </td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>

            <!-- site 2 -->
            <table class="table table-custom">
                <thead>
                <tr>
                    <th>Hawk</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-article bg-danger">
                        <img class="img-articles table-article-content" src="http://www.hawk.ch/media/catalog/product/cache/1/image/315x310/9df78eab33525d08d6e5fb8d27136e95/9/7/97c5369820863bcfd3ac696e1b9f37a1.jpg.jpg">
                        <div class="table-article-content"><b>Panasonic DMC-LX100EGK Schwarz</b></div>
                        <div class="table-article-content">CHF 623,85</div>
                    </td>
                </tr>
                <tr>
                    <td class="table-article">
                        <img class="img-articles table-article-content" src="http://www.hawk.ch/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/8/781ff81fddfd111788f9bdf866231e26.jpg.jpg">
                        <div class="table-article-content"><b>Panasonic DMC-LX100EGS Silber</b></div>
                        <div class="table-article-content">CHF 639,00</div>
                    </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}