{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <p>ID</p>
    <pre>{{ id }}</pre>

    <br>

    <p>Requête</p>
    <pre>{{ request }}</pre>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}